.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

.menu-brand {
  text-align : center;
  width : 200px;
  font-size: 20px;
  color: white;
  padding: 20px;
}

.menu-avatar {
  width: 8%;
  margin: 10px;
}

.menu-other-link {
  margin-right: 50px;
}