<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
    
    <div class="navbar-expand mr-auto brand">
        <div>
            <img class="rounded-circle menu-avatar" src="../../../assets/img/avatar.png" alt="cv_carine_geindreau" />
            <span class="menu-brand">Carine GEINDREAU</span>
        </div>
    </div>  
    
    <div class="navbar-expand">
        <div class="navbar-nav menu-other-link">
            <a class="nav-item nav-link" href="https://github.com/car-dev" target="_blank">
                <i class="fa fa-github"></i>
            </a>
            <a class="nav-item nav-link" href="https://fr.linkedin.com/in/cgeindreau" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNav" aria-controls="menuNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuNav">
        <div class="navbar-nav mr-auto">    
            <div *ngFor="let menu of menus">
                    <a class="nav-item nav-link" [routerLink]="menu.path" routerLinkActive="active">{{ menu.name | uppercase }}</a>
            </div>
        </div>
    </div>
</nav> 