<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-xs-3 col-sm-3 col-md-3 mb-md-0 mb-3 footer-div-flag">
          <img class="footer-flag" src="../../../assets/img/flag_fr.jpg" alt="langue française" />
      </div>

      <!-- Grid column -->
      <div class="col-xs-3 col-sm-3 col-md-3 mb-md-0 mb-3 footer-div-flag">
          c.geindreau@gmail.com
      </div>

      <!-- Grid column -->
      <div class="col-xs-3 col-sm-3 col-md-3 mb-md-0 mb-3 footer-div-flag">
          +33 (0) 6 16 61 60 23 
      </div>

      
      <!-- Grid column -->
      <div class="col-xs-3 col-sm-3 col-md-3 mb-md-0 mb-3 footer-div-flag">
          <img class="footer-flag"  src="../../../assets/img/flag_en.jpg" alt="langue anglaise" />
      </div>


    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-xs-12 col-sm-12 col-md-12 mb-md-0 mb-12 footer-div-flag">
            Ce site est développé et maintenu avec les technologies suivantes : Angular 6, Bootstrap, Material Design for Angular.
        </div>

        <!-- Grid column -->
        <div class="col-xs-12 col-sm-12 col-md-12 mb-md-0 mb-12 footer-div-flag">
            Site mis à jour le {{ udpateTime | date:'d MMMM y'}}.
        </div>
        
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright : Carine Geindreau
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->