
.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: white;
    text-align: center;
  }

.footer-copyright {
    background-color: grey;
}

.footer-flag {
    height: 25px;
    width: 40px;
}

.footer-div-flag {
    text-align: center;
}