.formation-item-component {
    margin-bottom: 20px;
}

.formation-item-component-title {
    font-weight: bold;
    margin-left: 10px;
}

.formation-item-component-etablissement {
    font-style: italic;
    font-size: 1em;
}

.formation-item-component-niveau {
    font-style: italic;
    font-size: 8 px;
}

.formation-item-component-modules {
    font-style: italic;
    font-size: 6 px ;
}