<div class="formation-content">

    <div class="container">
        <div class="row">
          <div class="column col-md-2 ">
            <div class="formation-title">
              <h1 class="">FORMATIONS</h1>
            </div>
          </div>
          <div class="column col-md-10">
              <div class="card">

                  <!-- Card content -->
                  <div class="card-body">
                
                    <!-- Title -->
                    <h4 class="card-title"><a>MANAGER DES SYSTEMES D'INFORMATIONS</a></h4>
                    <!-- Text -->
                    <p class="card-text">Niveau I (BAC+5)<br /> Modules enseignés : .</p>
                    <!-- Button -->
                    <a href="#" class="btn btn-primary">Titre validé</a>
                
                  </div>
                
                </div>
                <!-- Card -->
                <div class="card">

                    <!-- Card content -->
                    <div class="card-body">
                  
                      <!-- Title -->
                      <h4 class="card-title"><a>CONCEPTEUR DEVELOPPEUR INFORMATIQUE</a></h4>
                      <!-- Text -->
                      <p class="card-text">Niveau II (BAC+3)<br /> Modules enseignés : .<br /> Etablissement : .</p>
                      <!-- Button -->
                      <a href="#" class="btn btn-primary">Titre validé</a>
                  
                    </div>
                  
                  </div>
                  <!-- Card -->
                  <div class="card">

                      <!-- Card content -->
                      <div class="card-body">
                    
                        <!-- Title -->
                        <h4 class="card-title"><a>DEVELOPPEUR LOGICIEL</a></h4>
                        <!-- Text -->
                        <p class="card-text">Niveau III (BAC+2)<br /> Modules enseignés : .</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Titre validé</a>
                    
                      </div>
                    
                    </div>
                    <!-- Card -->
      
        </div>
    </div>
</div>