.formation-item-component {
    margin-bottom: 20px;
}

.formation-item-component-title {
    font-weight: bold;
}

.formation-item-component-etablissement {
    font-style: italic;
    font-size: 1em;
}

.formation-item-component-niveau {
    font-style: italic;
    font-size: 8 px;
}

.formation-item-component-link {
    
}