<div class="card formation-item-component">

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title formation-item-component-title"><a>{{ formation.titre | uppercase }}</a></h4>
    <!-- Title -->
    <h4 class="card-description formation-item-component-etablissement"><a class="formation-item-component-link" href="{{ formation.sitewebecole }}" target="_blank" >{{ formation.ecole }} à {{ formation.ville }}</a></h4>
    <!-- Text -->
    <p class="card-text formation-item-component-niveau">Niveau {{ formation.niveau}} - Bac + {{ formation.bac }} <br /> Modules enseignés : .</p>
    <!-- Button -->
    <span class="btn btn-primary" *ngIf="formation.result">Titre validé</span>

  </div>

</div>

