<div class="home-background">

    <div class="container">
        <div class="row">
            
            <div class="column col-md-4 col-sm-0">
                <div class="home-eni">
                    <a class="home-link-eni" href="https://www.eni-ecole.fr/" target="_blank">
                        <img class="home-img-eni" src="../../assets/img/logo_eni.png" alt="eni ecole informatique"/>
                    </a>
                </div>
            </div>

            <div class="column col-md-8 col-sm-12">
                <div class="home-content">

                    <div class="home-title">
                        DEVELOPPEUR WEB - FULL STACK
                    </div>
                    <div class="home-subtitle">
                            JAVA EE / ANGULAR
                    </div>

                    <div class="home-description">
                        <p>Après une reconversion au développement informatique,</p>
                        <p>objet de plusieurs années d’études à l’<a class="home-link-eni" href="https://www.eni-ecole.fr/" target="_blank">ENI Ecole Informatique</a>,</p>
                        <p>je souhaite rejoindre une entreprise à taille humaine</p>
                        <p>et intégrer une équipe au sein de laquelle je saurais m’épanouir</p>
                        <p>et atteindre les objectifs fixés.</p>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>